*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Join Events Component */

.joinEventsCon {
  background-color: rgba(230, 230, 230, 0.6);
  height: 100vh;
}

.eventCard {
  height: 30vh;
  width: 20vw;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tdForm{
  display: flex;
  flex-direction: row
}

.thAction{
  text-align: center;
}