.adminInputEventCreate{
	width: 30vw;
	margin-bottom: 3em;
}
.headerG{
	font-family: 'Poppins', serif;
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 0.3em;
	/*text-decoration: underline;*/

}