.loginContainer{
  background-image: url('/images/run2.jpg');
  background-size: cover;
  background-position: center;
  /*filter: blur(1px);*/
  height: 100vh;
  width: 100vw;
}

.introTexts{
  text-align: center;
}

.headerText{
  font-size: 3.5rem;
  font-family: 'Permanent Marker', cursive;
}

.headerSubText{
  font-family: 'Dancing Script', cursive;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888eaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(283,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23888eaa'/%3E%3Cstop offset='1' stop-color='%23b7d4ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(215,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%234787ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234787ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(99,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%234787ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234787ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.37'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  width: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  opacity: 0.90;
  border-radius: 5px;
}

.inputLogin{
  font-family: 'Poppins', serif;
}

.signUpContainer{
  font-family: 'Poppins', serif;
   /*width: 54%; */
}

.inputContainer{
  width: 20vw;
}

.signLogin{
  width: 20vw;
}