/*UserProfile*/
.userProfileContainer{
	background-color: #fff1db;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f6ffdd'/%3E%3Cstop offset='1' stop-color='%23f6ffdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffce9'/%3E%3Cstop offset='1' stop-color='%23fffce9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4ffeb'/%3E%3Cstop offset='1' stop-color='%23f4ffeb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff1db'/%3E%3Cstop offset='1' stop-color='%23fff1db' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e1ffde'/%3E%3Cstop offset='1' stop-color='%23e1ffde' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fefff7'/%3E%3Cstop offset='1' stop-color='%23fefff7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
/*UserCarousel*/
.imgCars{
	height: 40vh;
}
/*UserLanding*/
.userLandingContainer{
	background-color: #fff1db;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f6ffdd'/%3E%3Cstop offset='1' stop-color='%23f6ffdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffce9'/%3E%3Cstop offset='1' stop-color='%23fffce9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4ffeb'/%3E%3Cstop offset='1' stop-color='%23f4ffeb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff1db'/%3E%3Cstop offset='1' stop-color='%23fff1db' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e1ffde'/%3E%3Cstop offset='1' stop-color='%23e1ffde' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fefff7'/%3E%3Cstop offset='1' stop-color='%23fefff7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}
/* Login */
.logOut{
	margin-left: 3em;
	text-decoration: none;
	color: black;
}
.userGreeting{
	color:black;
}
/* UserStatus */
.statusCon{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.statusContainer {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column;
	height: 100vh;
}
.postButton{
	margin-top: 2em;
	width: 80%;
}
.statusText{
	width: 80%;
}
.statusLabel{
	width: 80%;
}
/* UserInfo */
.userInfoContainer{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.imgPic{
	width: 100%;
	height: 60%;
}
.userGreeting{
	text-align: center;
	margin-top: 1em;
}
.letsRunButton{
	width: 80%;
}
/* UserProfile */
.userContainer{
	padding-top: 2em;
}
/* UserNavbar */
.userNavLinks{
	margin-left: 3em;
	color: black;
}
/* UserUpdate */
.updateContainer{
	background-color: #fff1db;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f6ffdd'/%3E%3Cstop offset='1' stop-color='%23f6ffdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffce9'/%3E%3Cstop offset='1' stop-color='%23fffce9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4ffeb'/%3E%3Cstop offset='1' stop-color='%23f4ffeb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff1db'/%3E%3Cstop offset='1' stop-color='%23fff1db' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e1ffde'/%3E%3Cstop offset='1' stop-color='%23e1ffde' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fefff7'/%3E%3Cstop offset='1' stop-color='%23fefff7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}
.updateForm{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.inputUserUpdate{
	width: 80%;
}
.updateUserLabel{
	width: 80%;
}
.selectUserUpdate{
	width: 80%;
	margin-top: 2em;
}
.updateButton{
	width: 80%;
	margin-top: 2em;
}
/* UserNavbar */
.userNavbarList{
	background-color: #e9ffce;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffd8d9'/%3E%3Cstop offset='1' stop-color='%23ffd8d9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2367ff98'/%3E%3Cstop offset='1' stop-color='%2367ff98' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237185ff'/%3E%3Cstop offset='1' stop-color='%237185ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e9ffce'/%3E%3Cstop offset='1' stop-color='%23e9ffce' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f1e2ff'/%3E%3Cstop offset='1' stop-color='%23f1e2ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 13vh;
}
.nav-item{
	font-size: 1.5rem;
}

.postLists li{
	text-decoration: none;
	list-style: none;
	width: 40vw;
	font-size: 2rem;
}
.postLists{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 15vh;
	background-color: white;
	padding: 3em;
}
.inputStatus{
	width: 45vw;
}

.logoHeader{
	font-size: 2rem;
	letter-spacing: 0.3em;
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;	
}

.tableEvents{
	font-size: 1.5em;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
}
.eventTableHead th{
	font-size: 2rem;
	font-family: 'Luckiest Guy', cursive;
	font-weight: bold;
	letter-spacing: 0.1em;
}
